<div id="chat_window">
  <ol id='events'>
    <% @messages.each do |message| %>
      <li style="border-left-color: #<%= message['session_id'][0..2] if message['session_id'] %>">
        <%= Sanitize.clean(message['body'], Sanitize::Config::RESTRICTED)[0..512] %>
        <span class='message_location' data-ip="<%= message['ip_address'] %>"><%= message['location'] %></span>
      </li>
    <% end %>
  </ol>

  <form action="/<%= params[:channel] %>" method="post">
    <textarea id='message' data-user="<%= session[:session_id] %>" placeholder='type message here...'></textarea>
    <button>Send</button>
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='/javascripts/application.js'></script>